<div class="article_body">
<div class="container">
  <%= notice %>
  <div class="row">
    <div class="col-xs-12 col-md-4" style="background-color: rgba(255, 250, 205, 0.5);">
      <br>
      <h3><i class="fas fa-pen"></i> 新規投稿</h3>
      <%= form_with model:@article, local:true do |f| %>
        <br>
        <h5><%= f.label :genre_id, 'ジャンル' %></h5>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: '選択してください' }, class: 'form-control' %>
        <br>
        <h5><%= f.label :title, 'タイトル' %></h5>
        <%= f.text_field :title %>
        <br>
        <br>
        <h5><%= f.label :user_image, '画像' %></h5>
        <%= f.attachment_field :user_image %>
        <br>
        <br>
        <h5><%= f.label :body, '本文' %></h5>
        <%= f.text_area :body %>
        <br>
        <br>
        <%= f.submit '投稿する', class: 'btn btn-success ' %>
      <% end %>
      <br>
    </div>


    <div class="col-xs-12 col-md-8">
    <br>
    <h3 class="text text-white text-center"><i class="fas fa-book-open"></i> 投稿一覧</h3>
    <%= render 'index', articles: @articles%>
    <br>
    <h5 class="pagination justify-content-center">
      <%= paginate @articles %>
    </5>
    
    </div>
  </div>
</div>
</div>