<div class="container">
  <div class="row">
    <p>
      <%= attachment_image_tag @article.user, :profile_image, size: "40x40", fallback: "user_no_image.png", class:"mt-3 rounded-circle"; %>
      <%= @article.user.name %>
    </p>
  </div>
  <div class="row">
     <div class="col-md-4">
        <div class="card text-dark bg-light mb-3" style="max-width: 100rem;">
          <div class="card-header">
            <div class="text text-center">
              <div class="btn btn-warning btn-block">
                <%= @article.title %>
              </div>
            </div>
          </div>
          <div class="card-body">
              <%= attachment_image_tag(@article, :user_image, size: "320x300", fallback: "no_image.jpg") %>
          </div>

        <div class="card-footer">
          <div class="text text-right">
            投稿日：<%= @article.created_at.strftime('%Y/%m/%d') %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
    　<p><%= @article.body %></p>
    　<p>
    　 <%= link_to edit_article_path(@article), class: "btn btn-secondary" do %>
         <i class="fas fa-edit"> 編集ページ</i>
       <% end %>
       &emsp;&emsp;
       <%= link_to article_path(@article), method: :delete, class: "btn btn-danger" do %>
         <i class="fas fa-trash-alt"> 削除</i>
       <% end %>
    　</p>

    　<div class="comments">
        <h5>コメント件数：<%= @article.article_comments.count %></h5>
        <% @article.article_comments.each do |article| %>
          <p>
            <i>
              <%= attachment_image_tag article.user, :profile_image, size: "40x40", fallback: "user_no_image.png", class:"mt-3 rounded-circle"; %>
              <%= article.user.name %>
              <%= article.created_at.strftime('%Y/%m/%d') %>
            </i>
            <% if article.user == current_user %>
              <div class="comment-delete">
                <%= link_to "削除", article_article_comment_path(article.article, article), method: :delete %>
              </div>
            <% end %>
          </p>
          <%= article.comment %>
        <% end %>
        </div>
        <br>
        <div class="new-comment">
        <%= form_with(model:[@article, @article_comment], local: true) do |f| %>
          <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
        </div>
    </div>
  </div>
</div>